 .alevel {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #D3B714;
}
.logo {
 display: flex;
 height: 100px;
}

#menu__switch {
display: none;
}
.menu__btn {
display: flex; 
align-items: center;  
position: relative;
top: 0px;
right: 45px;
width: 26px;
height: 26px;
cursor: pointer;
z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;
width: 100%;
height: 2px;
background-color: #616161;
}
.menu__btn > span::before {
content: '';
top: -8px;
}
.menu__btn > span::after {
content: '';
top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 20px;
  list-style: none;
  text-align: center;
  background-color: grey;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.item {
  display: block;
  padding: 12px 100px;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.item:hover {
  background-color: #CFD8DC;
}
#menu__switch:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__switch:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__switch:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__switch:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
transition-duration: .25s;
}



.item{
  display: flex;
  padding: 10px;   
}
.main-content{
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  flex-grow: 3;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #82E682;
  padding: 10px;
}
.left {
  display: flex;
  justify-content: center;
  padding: 10px;
  order:-1;
  width: 210px;
  background-color: #C798B9;
  flex-grow: 2;
  
}
.right {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 210px; 
  background-color: #9CB1C7;
  flex-grow: 2;
}
.description {
   display: flex;
   flex-direction: column;
}
.name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
}
.info {
  padding: 10px;
  text-align: center;

}
.cards {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 250px;
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  
  
}
.buildings {
  display: flex;
  text-align: center;
  height: 50px;
  width: 50px;
  border: 5px solid #C7B7B7;
  border-radius: 50%;
}
.bold {
  font-weight: bold;
  padding: 10px;
}
.content {
  display: flex;
  flex: 1;
}
button {
  background-color: #685174;
  border-radius: 20px;
  color: white;
  padding: 0 10px;
}
button:hover {
  background-color: white;
  color: #685174;
}
